body {
  background-image: url('../public/wallpaper_map_lol.png');
  background-size: cover;
}

#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
